@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&family=Montserrat&display=swap');



/* font-family: 'Montserrat', sans-serif;
font-family: 'Barlow Condensed', sans-serif; */
html{
  font-size:1.5vw;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

h1,h2,h3,h4,h5{
  font-family: 'Barlow Condensed', sans-serif;
  color: white;
}

h1{
  font-size: 8rem;
}

h2{
  font-size: 4rem;
}



.scrollWrapper{

    height: 100vh;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;
    /*til 3d transform effekt*/
    perspective: 10px;
}


.myHeader{
position: relative;
display: flex;
align-items: center;
justify-content: center;
width: 100vw;

 height: calc((100vw/16)*9);
/*til 3d effekt*/
transform-style: preserve-3d;
z-index: -1;
}



 #background,#middleground, #foreground{
   
position: absolute;
   
height: 100%;
width: 100%;

  object-fit: cover;
    z-index: -1;
}

#background{
  transform: translateZ(-10px)  scale(3);
}

#middleground{
    transform: translateZ(-5px) scale(1.8);
  }

  #foreground{
    transform: translateZ(-3px) scale(1.6);
  }



#title{
   
      

    color: rgb(51, 14, 14);
    color: white;
}


.mainContent{
color: white;
font-size: 1.2rem;
background-color: rgb(43, 34, 34);
padding-left: 10%;
padding-right: 10%;
padding-top: 5%;
padding-bottom: 20%;

}






